/* Codigo nav bar */
#logged, #profile, #logOut, #deploymenu {
    display: none;
}

#nav_container {
    background: rgb(230, 230, 230);
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100%;
    position: fixed; /* Se mantenga arriba */
    z-index: 99;
}

/* Zona del logo */
#logo_container {
    text-decoration: none;
    color: #21195e;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 1%;
    justify-content: center;
    align-items: center;
    height: 50px;
}

#header-logo {
    width: 50%;
    height: auto;
}


#logo_container > * {
    flex: 1 1 50%;
    justify-content: center;
}

img#logo {
    width: auto;
    object-fit: contain;
    height: 100%;
    justify-self: center;
}

/* Zona del BUSCADOR */

form#search_container {
    visibility: visible;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

select#search_categoria {
    flex: 1 1 40%;
    height: 45px;
    background: whitesmoke;
    border: 0;
    display: block;
    width: 100%;
    padding: 10px 32px;
    font-size: 17px;
    color: #555;
    user-select: none;
    -webkit-user-select: none;
    border-right: solid 0.2px lightslategray;
    border-radius: 0;

    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;

}

option.option {
    position: absolute;
    background-color: whitesmoke;
}

input#search_titulo {
    flex: 1 1 60%;
    height: 45px;
    background: whitesmoke;
    border: 0;
    display: block;
    width: 100%;
    padding: 10px 32px;
    font-size: 17px;
    color: #555;
    outline: none;

}

#search_button {
    flex: 1 1 40px;
    height: 45px;
    width: 100%;
    color: #fff;
    border: 0;
    cursor: pointer;
    background: #362e71;
}

#search_button:hover {
    background: #001667;;
}

/* Zona del inicio de sesion , registro y mi perfil */

#sesion_container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.sesion_control {
    border: 0;
    display: inline-block;
    cursor: pointer;
    color: #21195e;
    font-size: 17px;
    padding: 16px 5px;
    text-decoration: none;
}

.session_entered {
    text-align: center;
    background: transparent;
    border: 0;
    text-decoration: none;
    color: #21195e;
    flex-basis: 20%;
}


#sesion_container > * {
    height: auto;
}

#logIn-button {
    margin-right: 30px;
}

.error-container {
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    position: fixed;
    background: #f7f7f7;
    margin-top: 60px; /*navbar height*/
    z-index: 1000;
    width: 100%;
    height: 63px;
    -webkit-box-shadow: 0px 1px 1px lightgrey;
    -moz-box-shadow: 0px 1px 1px lightgrey;
    box-shadow: 0px 1px 1px lightgrey;
}

.error-image-container {
    width: 50px;
}

.error-image-container img {
    width: 100%;
    height: auto;
}

.cross-image-container {
    margin-left: auto;
}

/* Forzar cosas cuando pantalla completa */
@media screen  and (min-width: 900px) {
    form#search_container {
        visibility: visible !important;
        display: flex;
    }
}


/* pantalla algo pequeña */
@media screen and (max-width: 900px ) {
    #nav_container {
        grid-template-columns: 10% 90%;
        grid-template-rows: 50% 50%;
        height: 120px;
    }

    #logo_container span {
        display: none;
    }

    #sesion_container {
        grid-column-start: 2;
        grid-column-end: 3;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

/* Ya esto es MOVIL */
@media screen and (max-width: 550px ) {
    #deploymenu {
        display: inline-block;
        background-image: url("../img/menudesplegable.png");
        margin-left: 8%;
        transition-duration: 0.1s;
    }

    #sesion_container {
        grid-column-start: 2;
        grid-column-end: 3;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    img#logo {
        height: 56%;
    }

    #header-logo {
        display: none;
    }

    form#search_container {
        visibility: hidden;
        flex-wrap: wrap;
        order: 2;
        padding: 0 10% 0 0;
    }

    #nav_container {
        grid-template-columns: 10% 90%;
        grid-template-rows: 100% 0;
        height: 60px;
        transition-duration: 0.1s;

    }

    #tags_container {
        margin-top: -10%;
    }

    select#search_categoria {
        width: 500px;
        border-right: none;
    }
}