html {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: auto;
}


/* Barra de navegacion que tiene el logo, search y los Iniciar sesion y registrarse */

nav#nav_container {
    background: rgb(230, 230, 230);
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: 20% 60% 10% 10%;
    grid-template-rows: 100%;
    position: fixed; /* Se mantenga arriba */
    z-index: 99;
}

#logo_container {
    text-decoration: none;
    color: darkblue;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 4%;
}

img#logo {
    content: url("../img/fnexus logo 2.png");
    width: auto;
    height: 100%;
    justify-self: center;
    border-radius: 25%;
}

#logged, #profile, #logOut{
    display: none;
}


/* el contenedor del resto de la pagina que no es navegacion*/

.main_container {
    padding-top: 66px;
}


/* estilos de la categoria (se crea por codigo) */

#tags_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*
    formato carrousel
    flex-wrap: nowrap;
    overflow: scroll;
     */
}

.tags_child {
    margin: 3px;
    flex: 1 1;
    flex-basis: auto;
    text-align: center;
    padding: 10px;
}

.tag {
    text-decoration: none;
    color: black;
    cursor: pointer;
    padding: 10px;
    background: lightcoral;
}

.tag:hover {
    margin: -3px; /* pa que no se haga mas grande y ocurra como con los memes de css*/
    border: solid #f04e4f;
}

/* estilos de los anuncios (se crea por codigo) */

#ads_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

.ad {
    width: 12.5vw;
    height: 12.5vw;
    z-index: 2;
}

.ad_enlacePagina {
    text-decoration: none;
    cursor: zoom-in;
    color: black;
}

.ad_titulo {
    flex: 1 1 100%;
    height: content-box;
    margin: 0;
    padding: 5px;
}


.ad_imagen {
    margin: 0;
    padding: 0;
    z-index: -1;
    position: relative;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
}


/*VISTA ANUNCIO*/
.vista-anuncio-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

#anuncio-container {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
}

.imagen_container {
    width: 90%;
    height: 450px;
    margin: auto;
}

#anuncio-container img {
    background-color: #d1cad6;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: contain;
}

/* Vista anuncio - parte de dar like y detalles */
.likes_container {
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: row;
}
#dar_quitar_like {
    flex: 1 1 70%;
    border: solid crimson;
    text-align: end;
}
#dar_quitar_like:disabled {
    color: grey;
}

#likes_count {
    flex:1 1 30%;
    border: solid darkred;
}

#anuncio-details-container {
    width: 50%;
    grid-column-start: 2;
    grid-column-end: 3;

}

#anuncio-details-container img {
    width: 100px;
}


/* Codigo de ver_perfil */

#cabecera_perfil {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: gold;
}

.banner_perfil {

}

.foto_perfil {
    flex: 1 1 100%;
}

.info_perfil {
    flex: 1 1 100%;
}

.imagen_perfil {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 100px 100px;
}

.banner_perfil {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/*EDITAR PERFIL*/

#edit-profile img{
    width: 50px;
}


/*FOOTER*/

footer{
    padding: 0;
    font-family: "Montserrat",sans-serif;
    background: #222222;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-around;
    color:white;
    font-weight: 300;
    font-size: 15px;
}

footer a{
    text-decoration: none;
    color:inherit;
}

#footer-brand{
    display: flex;
    align-items: center;
    width: 15%;
    font-size: 12px;
    height: 100%;
    overflow: hidden;
}
#footer-logo{
    width: 100%;
    height: auto;

}
#license-logo{
    width: 25px;
    height: auto;
}
#footer-contact{
    display: flex;
    align-items: center;
}
.footer-divider{
    height: 30px;
    width: 1px;
    background: white;
    margin: 0 20px;
}

/*social media*/
.share-button{
    width: 280px;
    height: 35px;
    background: #1c1c1c;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: .3s linear;
}

.share-button:hover{
    transform: scale(1.1);
}

.share-button span{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #2d3436;
    color: #f1f1f1;
    text-align: center;
    line-height: 80px;
    z-index: 999;
    transition: .6s linear;
    border-radius: 40px;
    /*CODE TO CREATE TEXT GRADIENT*/
    /*background: linear-gradient(45deg, #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
}

.share-button:hover span{
    transform: translateX(-100%);
    transition-delay: .3s;
}

.share-button a{
    flex: 1;
    font-size: 26px;
    color: #f4efff;
    text-align: center;
    transform: translateX(-100%);
    opacity: 0;
    transition: 0.3s linear;
    /*Para ajustar*/
    margin-bottom: 5px;
}

.share-button:hover a{
    opacity: 1;
    transform: translateX(0);
}

.share-button a:nth-of-type(1){
    transition-delay: 1s;
}

.share-button a:nth-of-type(2){
    transition-delay: 0.8s;
}

.share-button a:nth-of-type(3){
    transition-delay: 0.6s;
}

.share-button a:nth-of-type(4){
    transition-delay: 0.4s;
}
i.fas{
    margin-right: 6px;
    margin-left: -6px;
}
.share-button>span{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*MODALS: VENTANAS EMERGENTES*/
.blocker{
    z-index: 1000;
}
/*Estilo de los input de los formularios*/
.inp{
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 280px;
    padding-top: 14px;
}
.label{
    position: absolute;
    top: 16px;
    left: 0;
    font-size: 16px;
    color: #9098A9;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all .2s ease;
    z-index: -9;
}
.border{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: dodgerblue;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all .15s ease;
}
.input{
    appearance: none;
    width: 100%;
    border: 0;
    padding: 5px 0;
    height: 24px;
    font-size: 16px;
    font-weight:400;
    border-bottom: 2px solid #C8CCD4;
    background: none;
    border-radius: 0;
    color: #223254;
    transition: all .15s ease;
    z-index: -10;
    margin-top: 25px;
}
.input:hover{
    background: rgba(163, 159, 168, 0.1);
}
.input:not(:placeholder-shown) + span{
    color: #5A667F;
    transform: translateY(-26px) scale(.75);
}
.input:focus{
    background: none;
    outline: none;
    border-bottom: 2px solid dodgerblue;
}

.input:focus + span{
    color: #0077FF;
    transform: translateY(-26px) scale(.75);
}
.input:focus + .border{
    transform: scaleX(1);
}

#cont_passwords .input{
    width: 49.4%;
}
#edit-profile .inp{
    width: 85%;
    float:right;
    padding-bottom: 20px;
}
/*Estilo de los labels del formulario para editar el usuario*/
.edit_labels{
    margin: 10px 0;
}
/*Estilo de los botones de los formularios*/
.button {
    width: 210px;
    height: 60px;
    background: dodgerblue;
    border-radius: 50px;
    margin: 2% 0 0 27%;
}








